<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Data Retriever</title>

    <!--Bootstrap CSS Framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="jqueryemoji/js/jQueryEmoji.js"></script>

    <!--Custom CSS Style-->
    <link rel="stylesheet" href="styles.css">
</head>

<!--<body class="text-center">-->
<body background="images/fbback.jpg" >
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-3">
            <div class="col-sm-12">
                <h1 class="h3 mb-3 font-weight-normal" id="headingText" align="center">Retrieve My Latest Facebook Data with OAuth 2.0</h1>
                <button name="retrieveBtn" id="retrieveBtn" type="button" class="btn btn-info btn-block" onclick="retrieve()">Retrieve My Posts</button>
                <button name="retrievePageBtn" id="retrievePageBtn" type="button" class="btn btn-secondary btn-block" onclick="retrievePage()">Retrieve My Pages</button>
                <p class="mt-5 mb-3 text-muted" align="center">&copy; Ashane Edirisinghe | 2019</p>
            </div>
        </div>

        <div class="col-sm-9" id="postViewerDiv" style="display:none">
            <div class="col-sm-12" id="postViewer" name="postViewer"></div>
        </div>
        <div class="col-sm-9" id="pageViewerDiv" style="display:none">
            <div class="row" id="pageViewer"  name="pageViewer"></div>
        </div>
    </div>
</div>
<script>
    function retrievePage() {
        $.ajax({
            type: "GET",
            url: "http://localhost:3002/api/facebook/pages",
            success: function(result) {

<!--                console.log(JSON.stringify(result.likes[0].data));-->
                result.likes[0].data.forEach(function (t1) {

                    if (t1.data !== null) {
                        var x1 = document.createElement("DIV");
                        x1.setAttribute("class", "card");
                        var y1 = document.createElement("DIV")
                        y1.setAttribute("class", "card-block");

                        var z1 = document.createElement("P");
                        z1.setAttribute("class", "card-text");
                        z1.innerHTML += t1.name

                        var zz1 = document.createElement("SMALL");
                        zz1.setAttribute("class", "card-text");
                        zz1.innerHTML += "Fan Count : " + t1.fan_count

                        z1.appendChild(zz1);
                        y1.appendChild(z1);
                        x1.appendChild(y1);
                        document.getElementById("pageViewer").appendChild(x1);

                    }
                })
                $('p').Emoji();
                document.getElementById("pageViewerDiv").style.display = "block"
                document.getElementById("postViewerDiv").style.display = "none"
                document.getElementById("retrievePageBtn").style.display = "none"
                document.getElementById("retrieveBtn").style.display = "block"
                document.getElementById("postViewer").innerHTML=""
            },
            error: function (e) {
<!--                console.log(e)-->
            }
        });
    }

    function retrieve() {
          $.ajax({
            type: "GET",
            url: "http://localhost:3002/api/facebook/posts",
            success: function(result) {
                result.data.forEach(function (t) {
                    if (t.message !== null) {
                        var x = document.createElement("DIV");
                        x.setAttribute("class", "card");
                        var y = document.createElement("DIV")
                        y.setAttribute("class", "card-block");

                        var z = document.createElement("P");
                        z.setAttribute("class", "card-text");
                        z.innerHTML += t.message

                        var zz = document.createElement("SMALL");
                        zz.setAttribute("class", "card-text");
                        zz.innerHTML += "Posted Date : " + t.created_time.substr(0,10)

                        z.appendChild(zz);
                        y.appendChild(z);
                        x.appendChild(y);
                        document.getElementById("postViewer").appendChild(x);
                    }
                })
                $('p').Emoji();
                document.getElementById("pageViewerDiv").style.display = "none"
                document.getElementById("postViewerDiv").style.display = "block"
                document.getElementById("retrieveBtn").style.display = "none"
                document.getElementById("retrievePageBtn").style.display = "block"
                document.getElementById("pageViewer").innerHTML=""
            },
            error: function () {

            }
        });
    }
</script>
</body>
</html>