<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Data Retriever</title>

    <!--Bootstrap CSS Framework-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <!--Custom CSS Style-->
    <link rel="stylesheet" href="styles.css">

</head>
<body class="text-center" style="background:url(images/facebook.jpg);background-size:cover">
<form class="form-signin card" id="form" name="form" style="background:#ccc">
    <h1 class="h2 mb-4 font-weight-normal">Retrieve Your Latest Facebook Data with OAuth 2.0</h1>
    <!--TODO: ADD YOUR client id AND redirect url HERE-->
    <button type="button" class="btn btn-primary btn-block" onclick="window.open('https://www.facebook.com/dialog/oauth?response_type=code&client_id='+'{your client id goes here}'+'&redirect_uri=http://localhost:3002/api/facebook/grant&scope=public_profile user_posts user_friends user_photos user_likes','_self')">Authorize with Facebook</button>

    <p class="mt-5 mb-3 text-muted">&copy; Ashane Edirisinghe | 2019</p>
</form>
</body>
</html>